<nav>
    <div class="profile-info text-center">
        <img src="https://via.placeholder.com/100" alt="User Avatar" class="img-fluid rounded-circle mb-3">
        <h4>{{name}}</h4>
        <p><strong>username:</strong> {{username}}</p>
        <p><strong>Role:</strong>{{role}}</p>
      </div>

      <ul class="list-group">
        <li class="list-group-item"> <a routerLink="add-car">
            <i class="fa fa-home"></i>
            <strong>Rent a Car</strong>
             
        </a>
    </li>
        <li class="list-group-item"><a routerLink="car-list" >
            <i class="fa fa-home"></i>
            <strong>Car list</strong>
             
        </a>
   
      </ul>
      
    
</nav>