
<div class="container-fluid">
<div class="row ms-5 mt-4 me-5">
    <div class="col-sm-6">
        
    <h3>Add Passenger Details</h3>
    <input type="number" [(ngModel)]="numberOfGuests" min="1" max="5">
    <button (click)="generateForms()">Ok</button>
    </div>
    <div class="col-sm-6">
    <button class="btn btn-primary float-end" type="submit" (click)="onSubmit()">Confirm Passengers</button>
    </div>
</div>
<div class="row ms-5 me-5">
    <div class="alert alert-danger w-25 d-flex justify-content-center" *ngIf="msg">{{msg}}</div>
    <div class="alert alert-success d-flex justify-content-center" *ngIf="successMsg">{{msg}}</div>
</div>
<div class="row  d-flex justify-content-center ps-5 pe-5 mb-5">
    
        <div class="col-sm-3 mt-4" *ngFor="let t of guests; index as i">

            <div class="card">
                <div class="card-header">
                    <h6>Passenger - {{i+1}}</h6>
                </div>
                <div class="card-body">
                            
                    <label>Name : </label>
                            <input type="text" class="form-control" [(ngModel)]="guests[i].name" placeholder="Enter Name">
                            <label>Age : </label>
                            <input type="number" class="form-control mt-1" [(ngModel)]="guests[i].age" placeholder="Enter Age">
                            <label>Contact : </label>
                            <input type="text" class="form-control mt-1" [(ngModel)]="guests[i].contact_number" placeholder="Enter Contact">
                        
                        </div>
                </div>
                
                
                
            </div>        
    </div>
</div>
